*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 16px;
    line-height: 1.5;
    font-family: sans-serif;
}
.background-img{
    background-image: url("../src/booking/1.jpg");
    background-size: cover;
}
.warper{
    margin: 0 60px;
    padding: 15px 0;
}
.header-top{
    color: white;
    padding-left: 60px 0;
    border-bottom: 1px solid white;
}
.header-top span{
    margin-right: 18px;
}
.header-top a{
    color: white;
    float: right;
    margin-right: 12px;
}
.container{
    padding-top: 25px;
}
.menu {
    list-style-type: none;
    text-align: center;
}
.menu li{
    display: inline-table;
    padding: 8px;
}
.menu li a{
    color: white;
    text-decoration: none;
    display: block;
}
.menu li a:hover{
    color:  rgb(19, 144, 228) ;
}
.list{
    position: relative;
    display: inline-block;
}
.dropdown-menu1{
    position: absolute;
    background-color: white;
    width: 150px;
    display: none;
}
.dropdown-menu1 li a{
    display: block;
    color: black;
    text-decoration: none;
    padding: 7px 0;
    width: 130px;
}
.dropdown-menu1 li a:hover{
    background:  rgb(19, 144, 228);
    color: white;
}
.list:hover .dropdown-menu1 {
    display: block;
}
.book{
    display: block;
    background-color: rgb(24, 149, 207);
    padding: 12px 15px;
}
.book:hover {
    color: white;
    background-color: rgb(17, 103, 231);
}
.menu-h1{
    text-align: center;
    padding: 50px 0;
}
.menu-h1 a{
    color: white;
}
.menu-h1 h1{
    color: white;
    font-size: 55px;
    margin-bottom: 20px;
}
.menu-h1 i{
    color: rgb(19, 144, 228);
}
.main-top{
    text-align: center;
    margin: 80px 0;
}
.main-top select{
    padding: 8px 5px;
    margin: 0 15px;
    width: 150px;
    background:rgb(216, 209, 209);
}
.main-all{
    margin: 0 60px;
}
.row{
    margin-bottom: 50px;
    border-bottom: 1px solid white;
}
.col-md-4 img{
    width: 100%;
    height: 250px;
}
.col-md-4 ul{
    list-style-type: none;
    margin: 12px 0;
}
.col-md-4 ul a{
    text-decoration: none;
}
.col-md-4 ul li{
    display: inline;
}
.col-md-4 ul li span{
    font-size: 20px;
    color: rgb(21, 104, 228);
}
.col1{
    font-size: 20px;
}
.col1 a{
    color: black;
}
.col2{
    float: right;
}
.col-md-4 p{
    font-size: 14px;
}
.col-md-4 button{
    width: 100%;
    height: 55px;
    border: 1px solid white;
}
.col-md-4:hover button{
    background: rgb(59, 181, 230);
    color: white;
}
.pages{
    text-align: center;
    margin: 90px 0;
}
.pages a{
    display: inline-block;
    border: 1px solid black;
    padding: 10px 18px;
    margin: 10px;
    color: black;
}
.pages a:hover{
    background: rgb(46, 128, 235);
    color: white;
    text-decoration: none;
}
.footer{
    background-color: rgb(27, 27, 27);
}
.foot{
    margin: 0 60px;
    padding-top: 50px;
    color: white;
}
.col-md-3{
    margin: 30px 0;
}
.col-md-3 form input{
    width: 100%;
    padding: 5px 8px;
}
.icon a{
    text-decoration: none;
    color: white;
    font-size: 35px;
}
.col-md-3 a{
    color: white;
    display: block;
    text-decoration: none;
    margin: 8px;
}
.col-md-3 a:hover {
    color: #007bff;
    text-decoration: none;
}
.col-md-3 a:hover i{
    color: yellow;
}
.iconfooter{
    padding: 10px 5px;
    border-top: 1px solid white;
}
.iconfooter a{
    display: inline;
    margin: 15px;
}
.confirm a{
    display: block;
    border: 1px solid;
    width: 200px;
    text-align: center;
    margin: 15px 0;
    padding: 8px 0;
    text-decoration: none;
}
.confirm a:hover{
    background:rgb(19, 144, 228);
    color: white;
}
.id p{
    border-top: white;
    text-align: center;
    padding: 50px 0;
}
.bb{
    position: relative;
}
.bb i{
    position: absolute;
    right: 8px;
    bottom: 12px;
    color: rgb(48, 45, 45);
}