*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    font-size: 16px;
    line-height: 1.5;
    font-family: sans-serif
}
.background-img{
    height: 100vh;
    margin: 0 430px;
    background-image: url("../src/register/background.jpg");
    background-size: cover;
    background-attachment:fixed;
}
.all{
    margin: 0 40px;
}
.body{
    width: 100%;
    padding: 120px 0;
}
.body input{
    border: 1px solid black;
}
input{
    width: 100%;
    border-radius: 4px;
    margin-bottom: 15px;
    font-size: 14px;
    padding: 7px 15px;
}
input:focus{
    background-color: black;
    box-shadow: 5px 3px 5px rgb(107, 195, 211);
    text-shadow: 0 0 3px red;
    color: white;
    padding-left: 15px;
}
select{
    font-size: 14px;
    padding: 7px 15px;
    border-radius: 5px;
    width: 100%;
}
select:focus{
    background-color: black;
    color: white;
}
.form-submit{
    margin-top: 20px;
    text-align: center;
}
.form-submit input{
    background-color: rgb(91, 231, 91);
    font-size: 15px;
    color: white;
    width: 120px;
    height: auto;
    padding: 10px 15px;
    border: 2px solid black;
}
.form-submit input:hover{
    background-color: rgb(80, 78, 78);
    border: 2px solid white;
}
