*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 16px;
    line-height: 1.25;
    font-family: sans-serif;
}
.menu {
    list-style-type: none;
    margin: 0;
    background-color: #333;
}
.menu .last {
    clear:both;
}
.list {
    float: left;
    position: relative;
}
.list > a {
    color: white;
    display: block;
    padding: 10px 20px;
    text-decoration: none;
}
.list a:hover {
    background-color: grey;
}
.dropdown-menu {
    position: absolute;
    list-style-type: none;
    width: 150px;
    background-color: #333;
    display: none;
}
.dropdown-menu a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 7px 20px;
}
.list:hover .dropdown-menu {
    display: block;
}
.ab{
    display: inline;
}
.abx img{
    width: 250px ;
    height: 300px;
    position: relative;
}
.ab img{
    width: 250px;
    height: 300px;
}
.acx{
    position: absolute;
    left: 30px;
    top: 50px;
    display: inline-block;
    background-color: black;
}
.abx:hover .acx{
    display: block;
}